.banner {
  height: 100vh;
  background: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  .banner__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 100px);
    position: relative;
    .banner__title{
      font-weight: 900;
      font-size: 99px;
      line-height: 118px;
      color: $white;
      margin-bottom: 70px;
      .banner__title_small{
        font-weight: 800;
        font-size: 14.4px;
        line-height: 30px;
        display: block;
        margin-bottom: 18px;
      }
      .banner__title_pink{
        color: $primary;
        display: block;
      }
    }
    .banner__scroll{
      position: absolute;
      right: 0;
      bottom: 50%;
      transform: translate(43%, -50%) rotate(90deg);
      display: flex;
      align-items: center;
      .banner__scroll-text{
        font-weight: 800;
        font-size: 12.6px;
        line-height: 26px;
        letter-spacing: 6px;
        text-transform: uppercase;
        color: $white;
        margin-right: 25px;
      }
      .banner__scroll-button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 21px;
        width: 46px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        border-radius: 11px;
        background-color: unset;
        cursor: pointer;
        transition: all .3s;
        .banner__scroll-icon{
          transform: rotate(-90deg);
          fill: rgba(255, 255, 255, 0.5);
          transition: all .3s;
        }
        &:hover{
          border-color: $primary;
          .banner__scroll-icon{
            fill: $primary;
          }
        }
      }
    } 
    .banner__hint{
      position: relative;
      .banner__border{
        border: 1px solid rgba(255, 255, 255, 0.25);
        box-sizing: border-box;
        position: absolute;
        left: -1px;
        top: -29px;
        width: 58%;
        height: 108px;
      }
      .banner__hint-wrap{
        display: flex;
        align-items: center;
        position: relative;
        .banner__hint-text{
          font-weight: normal;
          font-size: 18px;
          line-height: 29px;
          display: inline;
          color: $white;
          margin: 0 43px 0 0;
        }
        .banner__hint-button{
          width: 48px;
          height: 48px;
          border-radius: 100%;
          background: unset;
          border: 1px solid rgba(255, 255, 255, 0.5);
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all .3s;
          fill: rgba(255, 255, 255, 0.5);
          &:hover{
            border-color: $primary;
            fill: $primary;
          }
        }
      }
    }
  }
  
}


@media screen and (max-width: 1200px) {
  .banner{
    .banner__content{
      .banner__hint{
        .banner__hint-wrap{
          .banner__hint-text {
              font-size: 16px;
              margin-right: 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .banner{
    .banner__content{
      .banner__title{
        font-size: 70px;
      }
      .banner__scroll{
        .banner__scroll-text{
          letter-spacing: 4px;
        }
      }
      .banner__hint{
        .banner__border{
          width: 55%;
        }
        .banner__hint-wrap{
          .banner__hint-text{
            font-size: 14px;
          }
          .banner__hint-button{
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .banner{
    .banner__content{
      .banner__title{
        font-size: 65px;
        line-height: 90px;
      }
      .banner__hint{
        .banner__border{
          width: 70%;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .banner{
    background-position: center;
    .banner__content{
      .banner__title{
        font-size: 40px;
        line-height: 65px;
        margin-bottom: 50px;
      }
      .banner__scroll{
        .banner__scroll-text {
          letter-spacing: 2px;
          font-size: 10.6px;
          margin-right: 15px;
        }
        .banner__scroll-button{
          width: 30px;
          height: 18px;
          .banner__scroll-icon{
            svg{
              width: 5px;
            }
            
          }
        }
      }
      .banner__hint{
        .banner__border{
          width: 90%;
          height: 75px;
          top: -17px;
        }
        .banner__hint-wrap{
          .banner__hint-text{
            font-size: 12px;
            line-height: 20px;
            margin-right: 15px;
            max-width: 200px;
          }
          .banner__hint-button{
            width: 30px;
            height: 30px;
            svg{
              width: 10px;
            }
          }
        }
      }
    }
  }
}


