/**
  Переменные для цветов
 */
$white: #FCFCFC;
$primary: #F61067;
$maintext: #776C82;
$secondary_400: #150433;
$secondary_300: #30124E;
$secondary_100: #5E239D;
$headers: #30233D;
$grey: #9B94A3;
$light_grey: #F4F4ED;
