<section class="banner">
  <div class="container">
    <include src="src/templates/header.html"></include>
  </div>
  <div class="banner__content">
    <div class="container position-relative">
      <h1 class="banner__title">
        <span class="banner__title_small">What we  do?</span>
        <span>We grow</span>
        <span class="banner__title_pink">great business</span>
      </h1>
      <div class="banner__scroll">
        <p class="banner__scroll-text">Scroll to see more</p>
        <button class="banner__scroll-button">
          <div class="banner__scroll-icon">
            <include src="src/svg/arrow-to-down.html"></include>
          </div>
        </button>
      </div>
    </div>
    <div class="banner__hint">
      <div class="banner__border"></div>
      <div class="container">
        <div class="banner__hint-wrap">
          <p class="banner__hint-text">
            Velit laoreet id donec ultrices. Ut lectus arcu bibendum varius.
          </p>
          <a href="#" class="banner__hint-button">
            <include src="src/svg/right-arrow.html"></include>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>