<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer__item">
          <h3 class="footer__item-title">
            Lopper
          </h3>
          <p class="footer__item-text">
            Eu augue ut lectus arcu bibendum at.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer__item">
          <div class="footer__item-wrap">
            <div class="footer__item_left">
              <h4 class="footer__item-title_underlined">
                Menu
              </h4>
              <nav class="footer__item-nav">
                <ul class="footer__nav-list">
                  <li class="footer__nav-li">
                    <a href="#" class="footer__nav-link">
                      Home
                    </a>
                  </li>
                  <li class="footer__nav-li">
                    <a href="#" class="footer__nav-link">
                      About
                    </a>
                  </li>
                  <li class="footer__nav-li">
                    <a href="#" class="footer__nav-link">
                      Servces
                    </a>
                  </li>
                  <li class="footer__nav-li">
                    <a href="#" class="footer__nav-link">
                      News
                    </a>
                  </li>
                  <li class="footer__nav-li">
                    <a href="#" class="footer__nav-link">
                      Gallery
                    </a>
                  </li>
                  <li class="footer__nav-li">
                    <a href="#" class="footer__nav-link">
                      Contact
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="footer__item_right">
              <h4 class="footer__item-title_underlined">
                Services
              </h4>
              <nav class="footer__item-nav">
                <ul class="footer__nav-list">
                  <li class="footer__nav-li">
                    <a href="#" class="footer__nav-link">
                      Home
                    </a>
                  </li>
                  <li class="footer__nav-li">
                    <a href="#" class="footer__nav-link">
                      About
                    </a>
                  </li>
                  <li class="footer__nav-li">
                    <a href="#" class="footer__nav-link">
                      Servces
                    </a>
                  </li>
                  <li class="footer__nav-li">
                    <a href="#" class="footer__nav-link">
                      News
                    </a>
                  </li>
                  <li class="footer__nav-li">
                    <a href="#" class="footer__nav-link">
                      Gallery
                    </a>
                  </li>
                  <li class="footer__nav-li">
                    <a href="#" class="footer__nav-link">
                      Contact
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          

        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer__item">
          <h4 class="footer__item-title_underlined">
            Contact us
          </h4>
          <nav class="footer__item-nav">
            <ul class="footer__nav-list">
              <li class="footer__nav-li">
                <a href="mailto:contact@lop.com" class="footer__nav-link">
                  <include src="src/svg/mail.html"></include>
                  <span>
                    contact@lop.com
                  </span>
                </a>
              </li>
              <li class="footer__nav-li">
                <a href="tel:856-693-456" class="footer__nav-link">
                  <include src="src/svg/phone.html"></include>
                  <span>
                    856 - 693 - 456
                  </span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer__item">
          <h4 class="footer__item-title_underlined">
            Follow us
          </h4>
          <div class="footer__follow-us">
            <a href="https://twitter.com/" target="_blank" class="footer__follow-link">
              <include src="src/svg/twitter.html"></include>
            </a>
            <a href="https://www.facebook.com/" target="_blank" class="footer__follow-link">
              <include src="src/svg/facebook.html"></include>
            </a>
            <a href="https://www.instagram.com/" target="_blank" class="footer__follow-link">
              <include src="src/svg/instagram.html"></include>
            </a>
            <a href="https://www.youtube.com/" target="_blank" class="footer__follow-link">
              <include src="src/svg/youtube.html"></include>
            </a>
            <a href="#" target="_blank" class="footer__follow-link">
              <include src="src/svg/m.html"></include>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<include src="src/templates/modals.html"></include>
<script src="/js/libs.min.js"></script>
<script src="/js/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
