<header class="header">
  <a href="/" class="header__logo">
    Studio
  </a>
  <div class="header__menu">
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__list-item">
          <a href="#" class="header__list-link">
            Home
          </a>
        </li>
        <li class="header__list-item">
          <a href="#" class="header__list-link">
            Services
          </a>
        </li>
        <li class="header__list-item">
          <a href="#" class="header__list-link">
            Work
          </a>
        </li>
        <li class="header__list-item">
          <a href="#" class="header__list-link">
            About
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__number">
      <a href="tel:(01)666-693-456" class="header__number-link">
        <span class="header__number-icon">
          <include src="src/svg/phone.html"></include>
        </span>
        <span>(01) 666 - 693 - 456</span>
      </a>
    </div>
    <button class="header__burger-button--open" id="button-open">
      <include src="src/svg/burger-menu.html"></include>
    </button>
    <div class="header__burger-menu" id="burger-menu">
      <button class="header__burger-button--closed" id="button-closed">
        <include src="src/svg/close.html"></include>
      </button>
      <nav class="header__nav header__nav-burger">
        <ul class="header__nav-list">
          <li class="header__list-item">
            <a href="#" class="header__list-link">
              Home
            </a>
          </li>
          <li class="header__list-item">
            <a href="#" class="header__list-link">
              Services
            </a>
          </li>
          <li class="header__list-item">
            <a href="#" class="header__list-link">
              Work
            </a>
          </li>
          <li class="header__list-item">
            <a href="#" class="header__list-link">
              About
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="overlley"></div>
  </div>
</header>