<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="intro__item_left">
          <h2 class="intro__item-title_small">
            Intro
          </h2>
          <h3 class="intro__item-title_big">
            Our future
          </h3>
          <p class="intro__item-text_bold">
            Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.
          </p>
          <p class="intro__item-text_thin">
            By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver.
          </p>
          <button class="intro__item-button">
            Learn more
          </button>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="intro__item_right">
          <img src="../img/photo-intro.png" alt="photo-intro" class="intro__item-img">
          <div class="intro__background-img"></div>
          <div class="intro__block-quote">
            <div class="intro__quote-svg">
              <include src="src/svg/quote-up.html"></include>
            </div>
            <q class="intro__quote-text">
              Commodo sed egestas egestas fringilla phasellus faucibus.
            </q>
            <div class="intro__quote-svg">
              <include src="src/svg/quote-down.html"></include>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>