<section class="newsletter">
  <div class="container">
    <h2 class="newsletter__title">
      Subscribe to our newsletter
    </h2>
    <h3 class="newsletter__subtitle">
      Cras pulvinar mattis nunc sed blandit.
    </h3>
    <form class="newsletter__form">
      <input class="newsletter__form-input" type="email" placeholder="Enter email" name="email">
      <button type="submit" class="newsletter__form-button">
        <span class="form-button__title">Subscribe</span>
        <span class="form-button__icon">
          <include src="src/svg/right-arrow.html"></include>
        </span>
        
      </button>
    </form>
  </div>
</section>